/* Les variables */
:root {
    /* Une variable permet de sauvegarder ou de nommer  une couleur, une taille */
    --bleu-color: #A4B8FF;
    --orange-color: #FD8900; 
    --yellow-color: #F3D220;
    --square-size: 80px
}






.container-flex{
    display: flex;
    background-color: #41D3BD;
    height: 30vh;
    gap: 1rem;
    width: 100%;
    border: dashed 2px;
}
.box-flex{
    height: 30%;
    aspect-ratio: 1/1;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.center{
    justify-content: center;
}

.align-center{
    align-items: center;
}
/* Couleurs */
  .red { background-color: #e74c3c; }
  .blue { background-color: #3498db; }
  .green { background-color: #2ecc71; }
  .orange { background-color: #f39c12; }
  .purple { background-color: #9b59b6; }
  .teal { background-color: #1abc9c; }
  .pink { background-color: #ff6b81; }
  .brown { background-color: #8e44ad; }
  .gray { background-color: #7f8c8d; }


.container-flex-col{
    display: flex;
    background-color: #41D3BD;
    height: 30vh;
    gap: 1rem ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
  .box-flex-col{
    height: 15%;
    aspect-ratio: 1/1;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  /* Couleurs */
  .red { background-color: #e74c3c; }
  .blue { background-color: #3498db; }
  .green { background-color: #2ecc71; }
  .orange { background-color: #f39c12; }
  .purple { background-color: #9b59b6; }
  .teal { background-color: #1abc9c; }
  .pink { background-color: #ff6b81; }
  .brown { background-color: #8e44ad; }
  .gray { background-color: #7f8c8d; }

  .wrap{
    flex-wrap: wrap;
  }
.container-flex{
    display: flex;
    background-color: #41D3BD;
    height: 30vh;
    gap: 1rem;
}
.box-flex{
    height: 30%;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}
/* Couleurs */
  .red { background-color: #e74c3c; }
  .blue { background-color: #3498db; }
  .green { background-color: #2ecc71; }
  .orange { background-color: #f39c12; }
  .purple { background-color: #9b59b6; }
  .teal { background-color: #1abc9c; }
  .pink { background-color: #ff6b81; }
  .brown { background-color: #8e44ad; }
  .gray { background-color: #7f8c8d; }

  
  .container-flex{
    display: flex;
    background-color: #4e190a;
    height: 20vh;
    gap: 1rem;
    width: 100%;
    
}
.container-flex{
  display: flex;
  background-color: rgb(220, 214, 214);
  height: 20vh;
  gap: 1rem ;
  width: 100%;

}
.box-flex{
  height: 30%;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
}
.space-between{
  justify-content: space-between;
}


/* CSS TP */

.main {
display: flex;
height: 75vh;
width: 100%;
background-color: rgb(249, 242, 243);
flex-direction: column;
gap: 1rem;
}

.block-h40{
  display: flex;
  height: 40%;
  width: 100%;
  background-color: rgb(247, 243, 243);
  gap: 1rem;
}
.block-h50{
  height: 50%;
  width: 100%;
  background-color: var(--bleu-color);
  
}

.block-h60{
  display: flex;
  height: 60%;
  width: 100%;
  background-color: rgb(243, 246, 239);
  gap: 1rem;
}
/* Les deux blocs ci-dessous ont une taille de  100%  de hauteur du parent qui est de 40% */

.block-w20{
height: 100%;
width: 20%;
background-color: orange;
}
.block-w50{
height: 100%;
width: 50%;
background-color: rgb(242, 244, 248);
}


.block-w80{
height: 100%;
width: 80%;
background-color: yellow;
}

.block-orange{
  background-color: var(--orange-color);
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

