table, th, td {
    border: solid 1px black;
    border-collapse: collapse;
     padding: 3px;
     text-align:center

}

/* l'écriture de classe ou d'id sont tau format kebabcase */
.table-wrapper {
    width: 50%;
}

#table-100w{
    width: 100%;
}

textarea{
    resize: none;
}


.titre_base {
    /* on color la couleur du texte */
    color: rgb(91, 87, 154);
    /* text-align-> l'alignement du texte */
    text-align: center;
    /* backgroun color -> couleur du fond */
    background-color: rgb(201, 169, 231);
    /* le text decoration -> c'est le souligange, le barrage ect.. */
    text-decoration: underline;
}

h1 {
text-align: center;
text-decoration: underline;

}
/* permet de séléctionner l'enfant direct de l'élément #liste-cours */
#liste-cours > li {
    /* list-style none permet la desactivation des puces */
    list-style: none;
    margin-top: 3px;
    margin-bottom: 5px;
    border: solid 1px #C7BBC4;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    background-color: #E43F6F;
    
}

#liste-cours > li a{
text-decoration: none; 
color: #593F62;
}

#liste-cours > li:hover{
background-color: #860429;
border: solid 1px #9a0d77;
}
#liste-cours > li a:hover{
    color: #41D3BD;
}

 /* _____ _____ _   _______  _____   _____  _____ _____ 
/  __ \  _  | | | | ___ \/  ___| /  __ \/  ___/  ___|
| /  \/ | | | | | | |_/ /\ `--.  | /  \/\ `--.\ `--. 
| |   | | | | | | |    /  `--. \ | |     `--. \`--. \
| \__/\ \_/ / |_| | |\ \ /\__/ / | \__/\/\__/ /\__/ /
 \____/\___/ \___/\_| \_|\____/   \____/\____/\____/ 
                                                      */

 


.green{
    background-color: green
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.square {
    width: 50px;
    height: 50px;
}          
            /*  */
.round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}                            

.text-color-red {
    color: #f00b22;
}
/*  Si on met une div en inline, sachant que l'inline ne gère pas la hauteur ni la largeur, on ne la verra pas, l'inline est uitilisé principalement pour du texte */
.cobaye { 
    display:inline
}
/* l'inline blocks la hauteur et la largeur, permet aussi d'accumuler les éléments sur la longueur et de passer à la ligne quand l'élément n'a plus de place. */
.cobaye2 {
    display: inline-block;
}
body{
    min-height: 100vh;
}

.nav-bar{
    background-color: darkslateblue;
    width: 100%;
    height: 10vh;
    /* Permet au texte à l'interieur de la div et d'être centré verticalement, mettre la même hauteur que la hauteur de la div */
    line-height: 10vh;
}

.nav-bar-list > li {
list-style: none;
display: inline-block;
margin-left: 15px;
}

.nav-bar-list > li > a {
text-decoration: none;
color: white;
}

.nav-bar-list > li > a:hover {
color: orange;
}
.nav-bar-list{
    text-align: start;
}
.Parents > p {
    color: green;
}
.all-children-parents p {
    color: red;
}
h4 + p {
    /*  Attention le h4 est en gras par défaut */
    /* Pour mettre en gras */
    font-weight: bold;
    color: blue;
}
h5 ~ p {
    color: orangered;
    font-weight: bold;
}
